@charset "utf-8";
/* CSS Document */
body {
	margin:		20px;
}

h2 {
	padding:		300px 0px 0px 0px;
}

.selected-true {
	background-color: lightblue;
}

.menuRowTitle {
	padding:		10px 2px 10px 2px;
	height:			40px;
	width:			100%;
	float:			left;
}

.menuRow {
	border:			1px solid black;
	padding:		10px;
	margin:			2px 2px 2px 2px;
	height:			40px;
	width:			32%;
	float:			left;
}

.menuDescription {
	width:		170px;
	position:	relative;
	float:		left;
}

.menuPrice {
	width:		50px;
	position:	relative;
	float:		left;
}

.menuSize {
	width:		50px;
	position:	relative;
	float:		left;
}

.menuClick {
	width:		100px;
	position:	relative;
	float:		right;
}

.menuComment {
	border:				1px solid black;
	padding:			10px;
	margin:				2px 2px 2px 2px;
	height:				40px;
	width:				400px;
	float:				right;
	background-color: 	pink;
}

.menuCommentInput {
	height:		30px;
	padding:	3px 5px 5px 5px;
}

.menuOrder {
	padding:		10px 2px 60px 2px;
	float:			left;
}

.orderRow {
	border:			1px solid black;
	padding:		10px;
	margin:			2px 2px 2px 2px;
	height:			40px;
	width:			96.7%;
	float:			left;
}

input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px;
}