@charset "utf-8";
/* CSS Document */
body {
	margin:		20px;
}

.selected-true {
	background-color: lightgrey;
}

.menuRow {
	padding:	10px;
}

.menuDescription {
	width:		200px;
	position:	relative;
	float:		left;
}

.menuPrice {
	width:		200px;
	position:	relative;
	float:		left;
}

.menuComment {
	background-color: orange;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}