@charset "utf-8";
/* CSS Document */
html {
	height:100%;
}

body {
	min-height:			98%;
	margin:				0;
}

.selected-true {
	text-decoration: line-through;
	color: grey;
}

.menuDescription {
	width:200px;
	position:relative;
	float:left;
}

.menuPrice {
	width:200px;
	position:relative;
	float:left;
}